# Ignore environment variable files
.env
.env.local
.env.*.local

# Ignore Node.js related files and directories
s3/sdk/node.js/node_modules/
s3/sdk/node.js/npm-debug.log*
s3/sdk/node.js/yarn-debug.log*
s3/sdk/node.js/yarn-error.log*
s3/sdk/node.js/dist/
s3/sdk/node.js/build/
s3/sdk/node.js/package-lock.json
s3/sdk/node.js/yarn.lock

# Ignore Ruby related files and directories
s3/sdk/ruby/.env
s3/sdk/ruby/*.log
s3/sdk/ruby/tmp/
s3/sdk/ruby/log/
s3/sdk/ruby/vendor/bundle/
s3/sdk/ruby/.rbenv-gemsets
s3/sdk/ruby/.ruby-version
s3/sdk/ruby/.ruby-gemset
s3/sdk/ruby/coverage/

# Ignore editor-specific backup files
.sass-cache/
byebug_history
